<body>
  <main>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <h2>User info</h2>
          
          <% if @user.errors.any? %>
            <%= @user.errors.count %>error prohibited this obj from being saved
            </br>
            <% @user.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
          <% end %>
          
          <%= form_with model:@user, local:true do |f| %>
          <div class="form-group">
          <label for="user_name">Name</label>
          <div>
          <%= f.text_field :name, autofocus: true, id:"user_name", placeholder:"name" %>
          </div>
          </div>
          <div class="form-group">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback:"/assets/l_e_others_500.png" %>
          <label for="inputImage">Image</label>
          <div>
          <%= f.attachment_field :profile_image, placeholder: "image" %>
          </div>
          </div>
          <div class="form-group">
            <label for="introduction">Introduction</label>
            <div>
            <%= f.text_area :introduction, autofocus: true, id:"introduction", placeholder:"introduction" %>
            </div>
            </div>
            <div class="form-group">
          <%= f.submit "Update user" %>
          </div>
          <% end %>
      </div>
    </div>
  </main>
</body>